/* ====================
	* LISTA CARRITO *
==================== */

.basket {
  width: 100%;
  margin: auto;
}

.head_Basket th {
  border: 1px solid black;
}

.img_Producto {
  width: 20%;
  height: 200px;
}

.img_Producto img {
  width: 100%;
  height: 100%;
}

.monto_final {
  border-radius: 3px;
}
